.hydro-element{
  
    color:white;
    position: relative;
    padding:0.5rem 0;
    border-radius: 1rem;
    border:2px solid white;

    /* color:#005672 */
  
    /* border-bottom:2px solid rgb(255, 255, 255); */
    
}

.element-buttons{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    height: 100%;
}

.list-container{
    margin-top: 10rem;
}

.docs-intro{
    color:white;
    padding:0 1rem 0 1rem;
    margin: 0 auto;
    max-width: 900px;
}

.hydro-element p{

  


 
   
}

.hydro-button{
    color:white;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 1rem;
 
    /* width:10rem; */
}

.hydro-button:hover{
    color: black;
    background-color: rgb(158, 158, 158);
    transition: all 0.3s ease-in;
    border: 2px solid black;
}

.options{
    /* background-color: grey; */
    width:80vw;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.add-note-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-note-container label{
    margin-bottom: 2rem;
}



.no-notes{
    color: white;
    margin-top: 5rem;
}

.add-note-container input, .add-note-container textarea{
    margin-top:2rem;
    border-radius: 1rem;
    padding: 0.5rem;
}

.hydro-expanded{
    /* background: radial-gradient(circle at center, rgb(144, 118, 0), rgb(125, 102, 0)); */
text-align: left;
margin-top: 1rem;
}

.hydro-list{
    /* position: absolute; */
    /* top:-10rem; */
 
}

.hydro-expanded p{
    /* padding: 1rem */
    padding:0 1rem 0 1rem;
    white-space: pre-line;
}

.name-logo-box{
    display: flex;
    width:100%;
    justify-content: space-between;
    text-align: left;
}

.plus-minus {
 
    transition: all 0.9s ease;
    /* margin-top: -0.5rem;
    margin-left: 1rem;
    margin-right: 1rem; */
    /* position: absolute;
    right:5%;
    top:5%; */
    /* transform:translateY(-50%) */
  }

  .plus-minus :nth-child(1){

    transform: rotate(90deg) translateX(15px) translateY(0.5px);
  }

  .hydro-line{
    width:2px;
    height:15px;
    background-color: white;
    transition: height 0.3s ease-in-out;
  }
  
 

  .hydro-line.clicked:nth-child(2){
    width: 0;
 height: 0px;
    transition: height 0.3s ease-in-out;
  }

.check-button {
   transform: translateX(-5px);
   color:rgb(17, 153, 17);
   transition: all 0.3s ease-in;
}

.mark-as-done{
    position: absolute;
    right:-20%;
    top:30%;
    
    /* background-color: rgb(81, 81, 81); */
    background-color: black;
    padding:0.1rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
}

.hydrolist-container{
    /* margin-top:-2rem; */
    margin:2rem auto 0 auto;
    /* margin-left: 1rem; */
    /* margin: 2rem auto 0 1rem; */
    position: relative;
    width:70vw;
}

.hydro-element h2{
    font-size: 1.2rem;
    padding-left:0.5rem;

}

.check-button{
    color:white;
    width:min-content;
}



.docs-intro{
   /* font-size: 1.3rem; */
}

.final-warning{
    background-color: rgb(109, 0, 0);
    position: fixed;
    top:20%;
    left:50%;
    color:red;
    z-index: 45;
   width:80vw;
    padding:1rem;
}

.deletion-button{
    border: 2px solid rgb(18, 0, 0);
    border-radius: 1rem;
    padding:0.5rem 1rem;
    transition: all 0.3s ease-out;
}

.deletion-button:hover{
    background-color: rgb(252, 80, 80);
    transition: all 0.3s ease-out;
}



.final-warning h2,  section{
    margin-bottom: 2rem;
}

.final-warning section{
    margin-top: 2rem;
    /* background-color: rgb(75, 0, 0); */
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width:655px){
    .hydrolist-container{
        width:88vw;
        /* margin-left:0.5rem ; */
        margin-top: -2rem;
    }

    .docs-intro{
        margin-bottom: 3rem;
    }

    .plus-minus{
        margin-right: 2rem;
    }

    /* worth noting that if hydro element
    is to be used not as a customText,
    the positioning must be different
    */
}

@media screen and (min-width:865px){
    .hydro-list{
        /* position: absolute;
        top:0; */
        /* left:50%;
        transform: translateX(-50%); */
        margin-top: 10rem;
     
    }

.hydro-wrapper{
    /* margin-top: -15rem; */
    /* margin-bottom: 10rem; */
    /* height:max-content; */
    position: relative;

}

    .docs-intro {
    font-size: 1.5rem;
        
    }

    .hydrolist-container{
        /* width:40vw; */
        width: 100%;
        margin-left:auto ;
        /* margin-top: -3rem; */
        max-width: 500px;
    }
}